.hk-title-bar{
	background: #fff;
	padding: 0 15px;
	border-bottom: 2px solid #666;
}

.hk-logo-area img{
	max-width: 60px;
	vertical-align: top;
}

.hk-logo-area{
	text-align: left;
}

.hk-title-area{
	display: inline-block;
}

.hk-icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 8px;
	vertical-align: top;
	border: 1px solid #999;
}

.hk-logo-title{
	margin-top: 6px;
	font-size: 22px;
}

.hk-logo-subtitle{
	font-size: 13px;
	margin-top: -8px;
}

.hk-right-side-controls > div{
	line-height: 56px;
	text-align: center;
}

@media screen and (min-width: 768px){
	.hk-right-side-controls > div{
		text-align: right;
	}
}

.hk-view{
	margin-left: 200px;
	padding: 20px;
	background-color: #ccc;
	min-height: 100vh;
	overflow: auto;
}

.hk-view-full-width{
	margin-left: 0;
}

.hk-user-profile {
    background-color: #333;
    color: white;
    width: 200px;
    min-height: 120px;
    padding-top: 10px;
}

.hk-user-profile > div {
    display: inline-block;
    padding-top: 10px;
    margin-left: 5px;
}

.hk-user-profile > div > p {
    margin-bottom: 2px;
}

.hk-user-profile > div > button {
    margin-top: 8px;
}

.hk-user-profile img {
    float: left;
    margin: 12px;
    width: 80px;
    height: 80px;
}

.hk-user-profile-small {
    color: #333;
    padding-top: 4px;
}

.hk-user-profile-small > span {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.hk-user-profile-small img {
    width: 40px;
    height: 40px;
}
