<div class="hk-title-bar">
	<div class="row">
		<div class="hk-logo-area col-sm-6">
			<img ng-src="{{ iconFile }}" alt="logo">
			<div class="hk-title-area">
				<div class="hk-logo-title">{{ title }}</div>
				<div class="hk-logo-subtitle">{{ subtitle }}</div>
			</div>

			<div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="hk-collapsed-menu pull-right">
				<button class="btn hk-nav-button"> 
					<i class="fa fa-bars"></i>
				</button>
			</div>
		</div>
		<div class="hk-right-side-controls col-sm-6">
			<hk-user-profile-small></hk-user-profile-small>
		</div>
	</div>
</div>
<div class="hk-menu-area" ng-show="isMenuVisible" ng-class="{'hk-menu-area-vertical': isMenuVertical, 'hk-menu-area-horizontal': !isMenuVertical}">
	<hk-user-profile></hk-user-profile>
	<ng-transclude />
</div>
<div ui-view class="hk-view" ng-class="{'hk-view-full-width': !isMenuVertical || !isMenuVisible}"></div>

